.home {
  display: grid;
  grid-template-columns: 0.1fr 1fr 0.1fr;
  grid-template-rows: 0.15fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    '. nav .'
    '. intro .'
    '. project .'
    '. project .'
    '. contact .';
  height: 100%;
  width: 100%;
}

.navbar {
  grid-area: nav;
  min-height: 50px;
  display: grid;
}

.intro {
  grid-area: intro;
}

.projects {
  grid-area: project;
}

.contact {
  grid-area: contact;
}
